<!-- app/views/errors/unauthorized.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Unauthorized Access</title>
</head>
<body>
<p>Sorry, you do not have permission to access this resource.</p>
<%#= link_to 'Back to Home', root_path %>
</body>
</html>
